---
http_interactions:
- request:
    method: get
    uri: https://v6.exchangerate-api.com/v6/test_api_key/latest/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":"success","documentation":"https://www.exchangerate-api.com/docs","terms_of_use":"https://www.exchangerate-api.com/terms","time_last_update_unix":1704067200,"time_last_update_utc":"Mon, 01 Jan 2024 00:00:00 +0000","time_next_update_unix":1704153600,"time_next_update_utc":"Tue, 02 Jan 2024 00:00:00 +0000","base_code":"USD","conversion_rates":{"GBP":0.785476,"EUR":0.90,"USD":1.0}}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.3.1
